.parent {
    background-color: whitesmoke;
    margin: 30px;
    padding: 20px 20px 0  20px;
    /* box-sizing: border-box; */
    /* height: 100vh; */
}

.form-container {
    /* margin: 8% auto; */
    max-width: 500px;
    
    background-color: #B4C6A6;
    /* margin-top: 200px; */
    padding: 50px;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgb(13, 80, 95);

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
}


input.ng-invalid.ng-touched {
    border: 5px solid red;
}

::ng-deep .loc .p-dialog-header{
    background-color: #66806A;
    color: #fff;
    
}      
 
::ng-deep .loc .p-dialog-content {
    background-color: whitesmoke;
    overflow-x: hidden;
 
}
::ng-deep .loc .p-dialog-header .p-dialog-header-icon {
    color:whitesmoke;
} 


@media screen and (max-width : 576px) {
    .form-container {
        margin:0 15px;
    }
}


