<div class="container-fluid parent">
    <div class="row d-flex justify-content-center h-100">
        <div class="col form-container my-auto">
            <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="user-name"><h5>Username</h5></label>
                    <input type="text" id="user-name" pInputText name="user-name" formControlName="username" placeholder="Enter Username"> 
                    
                </div>
                <!-- <div class="form-group">
                    <label for="e-pass"><h5>Existing Password</h5></label>
                    <input type="text" id="e-pass" pInputText name="e-pass" formControlName="ePass" placeholder="Enter Existing Password"> 
                    
                </div> -->
                <div class="form-group">
                    <label for="new-pass"><h5>New Password</h5></label>
                    <input type="text"  id="new-pass" pInputText name="new-pass" formControlName="password" placeholder="Enter New Password">
                </div>
                <div class="text-center d-flex justify-content-around">
                    <button type="submit" class="btn btn-success w-50 mt-3" [disabled]='!changePassForm.valid'>Update</button>
                </div>   
            </form> 
        </div>
    </div>
</div>