.parent {
   background-color: whitesmoke;
   margin: 30px;
   padding: 20px;
}

.form-container {
    /* margin: 8% auto; */
    max-width: 500px;
    background-color: #B4C6A6;
    padding: 50px;
    border-radius: 15px;

}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    
}

input.ng-invalid.ng-touched {
    border: 5px solid red;
}


/* Dynamic dialog */
::ng-deep .van .p-dialog-header{
    background-color: #66806A;
    color: #fff;
    
}      
 
::ng-deep .van .p-dialog-content {
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: hidden;
 
}
::ng-deep .van .p-dialog-header .p-dialog-header-icon {
    color:whitesmoke;
} 





@media screen and (max-width : 576px) {
    .form-container {
        margin:0 15px;
    }
}
