<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="brand-container d-flex justify-content-center align-items-center">
        <div><h1>Trust<span class="a">a</span>Bro</h1></div>
    </div>
      <div class="carousel-caption d-none d-md-block mt-2">
        <h5 class="text-dark ms-5 fs-2">Thousands of Trucks at your Fingertips.</h5>
        <!-- <p class="text-dark">Some representative placeholder content for the first slide.</p> -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="row align-items-center rbg">
        <div class="col-md-7 col-sm-12 col-12 col-lg-6">
          <img src="../../../assets/images/reshot-icon-delivery-3YR572A8CB.svg" class="d-block svgi px-5" alt="...">
        </div>
        <div class="col-md-5 col-sm-12 col-12 col-lg-5 px-5">
          
            <h5 class="fs-2">India's most reliable, dedicated and expert online Transport logistics services partner!</h5>
           
            <p class="fs-4 mt-5"> We are the “best-in-class and cost-effective transporter” as defined by our customers and serving this industry for many years.</p>
          

        </div>
      </div>
     
     
    </div>
    <div class="carousel-item">
      <div class="row align-items-center rbg">
        <div class="col-md-5 col-sm-12 col-12 col-lg-6">
          <img src="../../../assets/images/reshot-icon-route-location-D62LUFYXP7.svg" class="d-block svgi py-5" alt="...">
        </div>
      
          <div class="col-md-7 col-sm-12 col-12 col-lg-5 px-5">
            <h5 class="fs-2">Delivery at your door step. Just tell us the pickup and drop location. You can track the delivery easily.</h5>
            <p class="fs-4 mt-5">No matter where you are, we provide delivery on time. Just Trust-A-Bro. We got you bruh.</p>
          </div>
        
      </div>
     
      
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
